html,
body {
    background-color: #1c1c1c;
    color: whitesmoke;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    height: 500vh;
    scroll-behavior: smooth;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}

/* page */
.page {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/* header */
.header {
    padding-top: 70px;
    margin-left: 1.5vw;
    font-size: 60px;
    flex: 1;
}

.content {
    flex: auto;
    background-color: green;
}

/* navbutton container */
#navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    width: 700px;
}

/* navbuttons */
.navs {
    border: 3px solid #bb8c54;
    border-radius: 5px;
    color: #bb8c54;
    cursor: pointer;
    margin: 3px;
    text-align: center;
    flex: 1;
    padding: 20px;
    text-decoration: none;
    font-weight: 800;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
.navs:hover {
    background-color: #bb8c54;
    color: #1c1c1c;
}

/* welcome text on landing page */
#land > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 90%;
    font-size: 8vw;
    width: calc(100% - 10vw);
    padding-left: 10vw;
}

/* blinking text cursor */
#welcome > b:not(.inactive)::after {
    content: "";
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-duration: 1s;
    display: inline-block;
    width: 8px;
    height: 7.9vw;
    border-radius: 3px;
    background: white;
    vertical-align: middle;
    margin: 0;
}
@keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

/* about us text */
#about > div {
    width: 50%;
    font-size: 30px;
    padding-left: 1.5vw;
    text-indent: 3vw;
    line-height: 1.5;
}

/* people text */
#people > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 26px;
}

.persons {
    max-width: 30%;
}

#people > div > div > a {
    background-color: #bb8c54;
    border: none;
    border-radius: 5px;
    color: #1c1c1c;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 800;
    padding: 10px;
    text-decoration: none;
}

#projectwords {
    width: 50%;
    font-size: 2vw;
    padding-left: 1.5vw;
    text-indent: 3vw;
}

#projects > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#projects > div > div > a {
    background-color: #bb8c54;
    border: none;
    border-radius: 5px;
    color: #1c1c1c;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 800;
    padding: 10px;
    text-decoration: none;
}

#contact > form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}